<% include ../layout/head.ejs %>

		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="row">
		    <h1><%= movie.get('title') %></h1>
		    <hr />
		    <div class="span3">
		    	<img src="<%= movie.get('image') %>" alt="<%= movie.get('title') %>" class="img-rounded img-responsive"/>
		    	<h5>Links:</h5>
	    		<a class="btn btn-primary btn-small btn-block" href="http://www.imdb.com/title/<%= movie.get('movie_id') %>" target="_blank">View on IMDb</a>
	    		<hr />
	    		<h5>Comments:</h5>
	    		<form id="frmComment" method="POST" action="/movies/create">
	    			<input name="_csrf" type="hidden" value= "<%= token %>" />
	    			<input id="frmCommentMovieID" name="movie_id" type="hidden" value= "<%= movie.id %>" />
	    			<textarea id="frmCommentText" name="comment" class="form-control" rows="3"></textarea>
	    			<br>
	    			<button id="frmCommentSubmit" type="submit" class="btn btn-default">Submit</button>
	    		</form>
	    		<hr />
	    		<% if(comments) { %>
				  	<% comments.forEach(function(comment) { %>
				  		<div class="panel">
				  			<%= comment.get('text') %>
				  		</div>
				    <% }) %>
	    		<% } else { %>
	    			<p>There are no comments</p>
    			<% } %>
		    </div>
		    <div class="span7 well">
			    <h3>Description</h3>
			    <p><%= movie.get('description') %></p>
			    <h3>Trailer</h3>
			    <div class="video-container">
			    	<iframe class="youtube-embed"  src="//www.youtube.com/embed/<%= movie.get('trailer') %>" frameborder="0" allowfullscreen></iframe>
		    	</div>
			    <div>
				    <h3>Quotes</h3>
				  	<% quotes.forEach(function(quote) { %>
				  		<div class="panel">
				  			<%- quote.get('text') %>
				  		</div>
				    <% }) %>
			    </div>		    
		    </div>
		</div>

<% include ../layout/foot.ejs %>